ul {
	list-style: none;
	text-align: center;
	width: 100%;
}
li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	
	a {
		text-transform: uppercase;
		color: $primary-color;
		
		&:hover {
			color: darken($primary-color, 20%);	
		}
	}
	
}